<div class="user-details">
  <h1>About</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Top</h2>
<img src="path-to-your-image.jpg" alt="Description of image" style="width: 50px; height: auto; margin-bottom: 10px;">
<p>Vino excels in DJing and producing, blending classic skills with modern tools like Ableton and Serato to deliver fresh beats and electrifying sets that keep the vibe on point.</p>
  </div>
  <div class="tech">
    <h2>Influence</h2>
        
    <p>His dynamic tracks have gained recognition on verified playlists across Audiomack, where his unique blend of Latin rhythms and modern beats has been featured prominently as the cover art artist. This support highlights his growing influence in the digital music space.</p>
  </div>
  <div class="tech">
    <h2>Support</h2>
    
    <p>Vino has garnered support from top-tier industry names, including Súbelo Neo, Good Times Ahead, and various Latin terrestrial radio stations. These endorsements reflect his impact and resonance within the Latin music community, both online and on-air!</p>
  </div>
</div>
